<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluebase.educationapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.company.app.fileprovider.READ" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:usesCleartextTraffic="true"
        android:largeHeap="true">

        <activity android:name="activities.LoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="activities.Dashboard"/>
        <activity android:name="activities.FullScreenImage"/>
        <activity android:name="activities.Library"/>
        <activity android:name="activities.VoiceScreen"/>
        <activity android:name="activities.SMSScreen"/>
        <activity android:name="activities.HomeWork"/>
        <activity android:name="activities.HomeworkStudentReply"/>
        <activity android:name="activities.ForgotPasswordScreen"/>
        <activity android:name="activities.TransportVehicleTrackingGPS"/>
        <activity android:name="activities.Attendance"/>
        <activity android:name="activities.FeesScreen"/>
        <activity android:name="activities.ProfileDetails"/>
        <activity android:name="activities.StudentDetails"/>
        <activity android:name="activities.CircularEventsNews"/>
        <activity android:name="activities.ClassTest"/>
        <activity android:name="activities.LibraryFineList"/>
        <activity android:name="activities.TransportRouteStoppingDetails"/>
        <activity android:name="activities.FullImageActivity"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-LZxr8Zw9H1UrjKDzJ_m5UcIfeNnFjAk" />

        <provider
            android:name="util.GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

    </application>

</manifest>